.centralized-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login {
    background-color: white;
    width: 40%;
    height: 40%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
}

.form-errors{
    color: red;
    font-size: 10px;
}

#login form {
    width: 70%;
}