{% extends "base.html" %}

{% block content %}
  <div id="schema-list">
    <div id="new-schema">
      <h5 style="display: inline-block;">Schema List</h5>
      <a type="button" class="btn btn-success" href="{% url 'csv_generator:schema-create' %}">New Schema</a>
    </div>
    <div id="table-schema">
      <div class="table-responsive rounded-3">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Identifier</th>
              <th scope="col">Name</th>
              <th scope="col">Modified</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for schema in schemas %}
              <tr>
                <th scope="row">{{ schema.id }}</th>
                <td>{{ schema.name }}</td>
                <td>{{ schema.modified }}</td>
                <td>
                  <a class="delete-schema" href="{% url 'csv_generator:schema-delete' pk=schema.pk %}">Delete</a>
                  <a class="update-schema" href="{% url 'csv_generator:schema-update' pk=schema.pk %}">Edit</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
